---
import BookCard from "../v2/BookCard";
import data from "../../data/BooksData.json";
---

<section class="bg-paper px-5 md:px-10 pt-10 pb-16">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 md:gap-4">
    {
      data.map((book) => (
        <BookCard
          title={book.Name}
          image={book.Image}
          author={book.Author}
          desc={book.Description}
          month={book.Month}
          year={book.Year}
          rating={book.Rating}
          client:visible
        />
      ))
    }
  </div>
</section>
