---
// Your component script here!
import BookCard from "../v2/BookCard";
import data from "../../data/BooksData.json";
---

<!-- HTML comments supported! --><!-- Use a template directive to render a component: -->
<div
  class="grid md:grid-cols-5 grid-cols-2 gap-8 md:gap-y-8 p-10 bg-[#e3e2de]"
>
  {
    data.map((book) => {
      return (
        <BookCard
          title={book.Name}
          image={book.Image}
          author={book.Author}
          desc={book.Description}
          month={book.Month}
          year={book.Year}
          rating={book.Rating}
          client:visible
        />
      );
    })
  }
</div>
